@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* Dark theme */
  background-color: #121111;
  color: #f7fafc;
}

@keyframes color-wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-color-wave {
  background: linear-gradient(-45deg, #8b5cf6, #9333ea, #a855f7, #7c3aed);
  background-size: 400% 400%;
  animation: color-wave ease 3s infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate-delay-200 {
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.animate-delay-400 {
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

.animate-delay-600 {
  animation-delay: 0.6s;
  animation-fill-mode: both;
}
